<?xml version='1.0' encoding='UTF-8'?>  
<!DOCTYPE hibernate-configuration PUBLIC  
          "-//Hibernate/Hibernate Configuration DTD 5.3//EN"  
          "http://hibernate.sourceforge.net/hibernate-configuration-5.3.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.current_session_context_class">thread</property>
		<!-- my mysql server is running on 3307, Default port for mysql server is 3306 -->
		<property name="connection.url">jdbc:mysql://localhost:3307/hibernatedatabase</property>
		<property name="connection.username">hibernate_user</property>
		<property name="connection.password">password</property>
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="dialect">org.hibernate.dialect.MariaDB53Dialect</property>
		<property name="show_sql">true</property>
		<property name="hbm2ddl.auto">create</property>
		<mapping class="me.anuraj.Employee" />
		<mapping class="me.anuraj.ContractEmployee" />
		<mapping class="me.anuraj.RegularEmployee" />
	</session-factory>

</hibernate-configuration>  